*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

body{
	height: 100vh;
	width: 100vw;
	background-color: #F8F8F8;
	position: relative;	
}

#logo{
 position: relative;
    margin-top: 9.36vh;
    border: 1px solid black;
    padding-left: 29px;
    width: 391px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    padding-bottom: 14px;
}

#logo > span{
  padding-top: 5px;
 position: absolute;
 font-size: 48px;
 font-family: 'Montserrat Alternates','sans-serif';
 line-height: 59px;
}

#logo > img{
 width: 55px;
 height: 55px;}

 #center > img{
 	position: relative;
 	margin-top: 91px;
 	display: flex;
 	margin-left:auto;
 	margin-right: auto;
 	height: 344px;
 	width: 640px;
 }   

#lists{
	position: absolute;
	display: flex;
	flex-direction: row;	
	top: 20vh;
	
}

#list1{
	
	width: 19.8vw;
	height: 38.6vh;
	background-color: #F8F8F8;
	margin-left: 15.8vw;
	filter: drop-shadow(0px 4px 20px #81A8C8);
	border-radius: 21px 21px 20px 20px;
	overflow: auto;
}


#list2{
	
	width: 19.8vw;
	height: 38.6vh;
	background-color: #F8F8F8;
	margin-left: 4.4vw;
	filter: drop-shadow(0px 4px 20px #81A8C8);
	border-radius: 21px 21px 20px 20px;
	overflow: auto;
}

#list3{
	
	width: 19.8vw;
	height: 38.6vh;
    background-color: #F8F8F8;
    margin-left: 4.4vw;
    filter: drop-shadow(0px 4px 20px #81A8C8);
    border-radius: 21px 21px 20px 20px;
    overflow: auto;

}

#header{
	height: 10.4vh;
	background-color: black;
	border-radius: 21px 21px 0px 0px;
	text-align: center;
}
#header > p{
    font-family: 'Montserrat Alternates'; 
    font-size: 2.3vw;
    line-height: 44px;
    color: #000000;
    padding-top: 3vh;
    
}

#list1 > #header{
	background-color: #E5F0FF;
	
}


#list2 > #header{
	background-color: #B7D4FF;
}


#list3 > #header{
	background-color: #7EB3FF;
}

li{
	list-style-type: none;
	padding-top: 1.6vh;
	font-family: 'Montserrat Alternates';
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}
#button{
	position: relative;
	display: flex;
    justify-content: center;
    margin-top: 12vh;
}

#add{
padding: 30px 40px;
background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 30px;
border-style: none;
font-family: 'Montserrat Alternates';
font-size: 32px;
line-height: 39px;
color: #000000;

}

#add:hover{
	background: linear-gradient(180deg, #FFFFFF 0%, #B9B9B9 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
       
}

#add:active{
	background: #B9B9B9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

#form{
	display: none;
	width: 37.7vw;
	background-color: red;
	margin-top: 15.7vh;
	margin-left: auto;
	margin-right: auto;
	background-color: #EAEAEA;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    
}

form{
	padding-top: 63px;
	display: flex;
	justify-content: center;
}

#name{
	font-family: 'Montserrat Alternates';
    font-size: 120%;
    line-height: 39px;
    color: #8D8D8D;
    border-radius: 30px;
    border-style: none;
    width:74.5%;
    padding-left: 28px;
}

select{
	margin-top: 47px;
    margin-left: 4.76vw;
	font-family: 'Montserrat Alternates';
    font-size: 120%;
    line-height: 39px;
    color: #8D8D8D;
    border-radius: 30px;
    border-style: none;
    width:74.5%;
    padding-left: 28px;
    height: 4.28vh;
    appearance: none;
    background: url(assets/arrow.png) no-repeat right;
    background-position-x: calc(100% - 20px);
    background-color: #FFFFFF;
}

#new_add{
	padding: 30px 40px;
background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 30px;
border-style: none;
font-family: 'Montserrat Alternates';
font-size: 32px;
line-height: 39px;
color: #000000;
}

#new_button{
	display: flex;
    justify-content: center;
    margin-top: 47px;
    padding-bottom: 29px;

}

#new_add:hover{
	background: linear-gradient(180deg, #FFFFFF 0%, #B9B9B9 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
       
}

#new_add:active{
	background: #B9B9B9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}